
*.dll
OnboardingWeatherAPI/OnboardingWeatherAPI/bin/Debug/net6.0/OnboardingWeatherAPI.dll
*.dll
OnboardingWeatherAPI/OnboardingWeatherAPI/bin/Debug/net6.0/OnboardingWeatherAPI.pdb
OnboardingWeatherAPI/OnboardingWeatherAPI/bin/Debug/net6.0/OnboardingWeatherAPI.dll
OnboardingWeatherAPI/.vs/OnboardingWeatherAPI/v17/.suo

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn
*.dll
*.pdb
*.sentinel
OnboardingWeatherAPI/.vs/OnboardingWeatherAPI/v17/.suo
